@import "tailwindcss";

@theme {
  --color-background: #09090b; /* 950 */
  --color-surface: #18181b; /* 900 */
  --color-primary: #27272a; /* 800 */
  --color-primary-foreground: #e4e4e7; /* 200 */
  --color-secondary: #3f3f46; /* 700 */
  --color-secondary-foreground: #f4f4f5; /* 100 */
  --color-muted: #a1a1aa; /* 400 */
  --color-muted-foreground: #a3a3a7; /* manually picked to have >4.5:1 contrast with the primary color for the cards */
  --color-highlight: oklch(98.5% 0 0);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  /* for unsupported browsers, resort to normal rounded-3xl tailwind rounding */
  .squircle {
    border-radius: 1.5rem;
  }

  /* for supported browsers, use squircle corner shape */
  @supports (corner-shape: squircle) {
    .squircle {
      border-radius: 3rem; /* rounded-3xl is 1.5rem for corner-type: round. advised to double this for squircle. */
      corner-shape: squircle;
    }
  }
}
